.square {
    /* background-image: linear-gradient(#000, #282c34);    border: 1px solid #999; */
    float: left;
    font-size: 24px;
    /* font-weight: bold; */
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 100px;
    width: 100px;
    color: #61dafb;
    border: none;
    background-color: transparent;
  }
  .square:hover{
      cursor: pointer;
      background-color: #fcfcfc;
      color: gray;
      -webkit-transition: all 0.30s ease-out;
      -moz-transition: all 0.30s ease-out;
      -ms-transition: all 0.30s ease-out;
      -o-transition: all 0.30s ease-out;
      transition: all .3s ease-out;
  }

  .square:focus{
    outline: none;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .input-number{
    padding: 14px;
    border: 0;
    font-size: 32px;
    background-image: linear-gradient(#b1aeae, #f8f7f7);
  }

  .main{
    box-shadow: 0px 2px 24px -8px rgba(195,205,212,1);
  }

